<div class="min-h-screen flex flex-col lg:flex-row">
  <!-- First Section (75% width on large screens) -->
  <div class="w-full lg:w-[75%] p-4">
    <div class="left-side">
      <h1>Hello, {{ title }}</h1>
      <p>Congratulations! Your app is running. 🎉</p>
      <p>
        You can watch the result of using: of, from, interval, concat and error
        operator in the console 🎉
      </p>
      <p>Let's search</p>
      <form [formGroup]="searchForm">
        <input
          formControlName="search"
          type="text"
          class="mt-2 border w-[95%] p-2 outline-blue-500"
          placeholder="search..."
        />
        <div class="text-red-400" *ngIf="search.touched && search.invalid">
          <div *ngIf="search?.errors?.['required']">Enter something</div>
          <div *ngIf="search?.errors?.['minlength']">
            Enter at least
            {{search.errors?.['minlength']?.requiredLength}} character
          </div>
          <div *ngIf="search?.errors?.['cannotContainSpace']">
            Can not contain space...
          </div>
        </div>
      </form>
      <div class="h-[300px] absolute top-3 left-[280px] lg:left-[300px]">
        <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
      </div>
      <!-- Your main content -->
      <div *ngIf="!isLoading">
        <!-- Content here -->
        <p>you na mean?..................</p>
      </div>
    </div>
  </div>

  <!-- Second Section (23% width on large screens) -->
  <div class="w-full lg:w-[23%] p-4 mt-[200px] lg:mt-0 lg:ml-4">
    <div class="right-side flex flex-col md:flex gap-4">
      <h1>Rxjs operators</h1>
      <div
        class="bg-blue-500 cursor-pointer text-white font-bold py-2 px-4 rounded shadow-lg transform transition-transform duration-300 hover:scale-105 hover:shadow-2xl"
        (click)="ofOperator()"
      >
        of
      </div>
      <div
        class="bg-green-500 cursor-pointer text-white font-bold py-2 px-4 rounded shadow-lg transform transition-transform duration-300 hover:scale-105 hover:shadow-2xl"
        (click)="fromOperator()"
      >
        from
      </div>
      <div
        class="bg-black cursor-pointer text-white font-bold py-2 px-4 rounded shadow-lg transform transition-transform duration-300 hover:scale-105 hover:shadow-2xl"
        (click)="intervalOperator()"
      >
        interval
      </div>

      <div
        class="bg-yellow-500 cursor-pointer text-white font-bold py-2 px-4 rounded shadow-lg transform transition-transform duration-300 hover:scale-105 hover:shadow-2xl"
        (click)="concatOperator()"
      >
        concat
      </div>
      <div
        class="bg-red-500 cursor-pointer text-white font-bold py-2 px-4 rounded shadow-lg transform transition-transform duration-300 hover:scale-105 hover:shadow-2xl"
        (click)="errorOperator()"
      >
        error
      </div>
    </div>
  </div>
</div>
